@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
/*Componentes y reset*/
/*Variables*/
.historiaMedio__subtitulo1, .historiaMedio__subtitulo2, .historiaMedio__subtitulo3 {
  color: #c4b071;
  font-size: 3vh;
  margin: 2em; }

body::before {
  display: block;
  content: "";
  height: 60px; }

/*
body {
  font-size: 85%;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-position: bottom;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
}
*/
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/*Navbar*/
/*Variables*/
.historiaMedio__subtitulo1, .historiaMedio__subtitulo2, .historiaMedio__subtitulo3 {
  color: #c4b071;
  font-size: 3vh;
  margin: 2em; }

.navs__vinculos {
  color: white; }
  .navs__vinculos:hover {
    color: #c4b071; }

/*Cabeza de index*/
/*Variables*/
.historiaMedio__subtitulo1, .historiaMedio__subtitulo2, .historiaMedio__subtitulo3 {
  color: #c4b071;
  font-size: 3vh;
  margin: 2em; }

.cabeza {
  width: 100%;
  height: 45vw;
  margin: 0;
  background-image: url(../../assets/festejo3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  animation-name: background;
  animation-delay: 3s;
  animation-duration: 15s;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.81, 0.01, 0.26, 0.99);
  animation-iteration-count: infinite; }
  @media screen and (max-width: 1024px) {
    .cabeza {
      height: 60vw;
      background-size: 125%; } }
  @media screen and (max-width: 768px) {
    .cabeza {
      height: 80vw;
      background-size: 165%; } }
  @media screen and (max-width: 425px) {
    .cabeza {
      height: 100vw;
      background-size: 205%; } }
  @media screen and (max-width: 375px) {
    .cabeza {
      height: 100vw;
      background-size: 210%; } }
  @media screen and (max-width: 320px) {
    .cabeza {
      height: 120vw;
      background-size: 245%; } }
  .cabeza__titulo, .cabeza__subtitulo {
    color: #c4b071;
    text-align: center;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #696969, 0 2px 0 #696969, 0 3px 0 #696969, 0 4px 0 #696969, 0 5px 0 #696969, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    font-size: 8vw;
    margin-top: 2vh;
    padding: 8vh 0 4vh 0; }
  .cabeza__subtitulo {
    padding: 4vh 0 4vh 0;
    font-size: 4vw; }
  .cabeza__boton {
    background-color: #c4b071;
    color: #823a9c; }
    .cabeza__boton:hover {
      background-color: #823a9c;
      color: white; }

@keyframes background {
  0% {
    background-image: url("../../assets/festejo3.png"); }
  20% {
    background-image: url("../../assets/amaral.jpeg"); }
  40% {
    background-image: url("../../assets/amaral.jpeg"); }
  60% {
    background-image: url("../../assets/pallas3.png"); }
  80% {
    background-image: url("../../assets/pallas3.png"); }
  90% {
    background-image: url("../../assets/festejo3.png"); }
  100% {
    background-image: url("../../assets/festejo3.png"); } }

/*Medio de index*/
/*Variables*/
.historiaMedio__subtitulo1, .historiaMedio__subtitulo2, .historiaMedio__subtitulo3 {
  color: #c4b071;
  font-size: 3vh;
  margin: 2em; }

.medio {
  /*grid-area: main;
    padding: 2em;
    display: flex;
    flex-direction: column;*/
  background: linear-gradient(210deg, white, #9e58cc); }
  @media screen and (max-width: 425px) {
    .medio {
      background: linear-gradient(180deg, #9e58cc, white); } }
  .medio__titulo {
    /* border-width: 100%;*/
    color: #7431dd;
    background: linear-gradient(to right, #b531dd 20%, #ffffff 40%, #c4b071 60%, #b531dd 80%);
    background-size: 200% auto;
    text-decoration: bold;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
    font-size: 10vh;
    text-align: center;
    font-weight: 700;
    font-size: 5.5vh;
    margin-top: 1em;
    margin-bottom: 1em;
    /*Media queries titulo medio*/ }
    @media screen and (max-width: 1024px) {
      .medio__titulo {
        font-size: 4vh;
        margin-top: 0; } }
    @media screen and (max-width: 768px) {
      .medio__titulo {
        font-size: 3.5vh;
        margin-top: 0; } }
    @media screen and (max-width: 425px) {
      .medio__titulo {
        font-size: 3vh;
        margin-bottom: 1em; } }
    @media screen and (max-width: 375px) {
      .medio__titulo {
        font-size: 2.5vh;
        margin-bottom: 1em; } }
    @media screen and (max-width: 320px) {
      .medio__titulo {
        font-size: 2vh;
        margin-top: 0;
        margin-bottom: 1em; } }
  .medio__texto {
    color: white;
    font-weight: 400;
    padding: 0em;
    font-size: 3vh;
    margin-top: -30px;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    /*Media queries titulo texto*/ }
    @media screen and (max-width: 1024px) {
      .medio__texto {
        font-size: 1.8vh; } }
    @media screen and (max-width: 768px) {
      .medio__texto {
        font-size: 2vh; } }
    @media screen and (max-width: 425px) {
      .medio__texto {
        text-align: center; } }
    @media screen and (max-width: 375px) {
      .medio__texto {
        font-size: 1.5vh; } }
    @media screen and (max-width: 320px) {
      .medio__texto {
        font-size: 1.5vh; } }
  .medio__frame {
    padding: 5em;
    width: 90%;
    height: 50vh;
    margin-left: 2vh;
    margin-right: 2vh;
    /*Media queries frame*/ }
    @media screen and (max-width: 1024px) {
      .medio__frame {
        height: 35vh; } }
    @media screen and (max-width: 768px) {
      .medio__frame {
        height: 30vh; } }
    @media screen and (max-width: 425px) {
      .medio__frame {
        height: 20vh; } }
    @media screen and (max-width: 375px) {
      .medio__frame {
        height: 20vh; } }
    @media screen and (max-width: 320px) {
      .medio__frame {
        height: 20vh; } }

/*Noticias de index*/
/*Variables*/
.historiaMedio__subtitulo1, .historiaMedio__subtitulo2, .historiaMedio__subtitulo3 {
  color: #c4b071;
  font-size: 3vh;
  margin: 2em; }

.news__titulo {
  color: #c4b071;
  text-align: left;
  margin: 1em; }

.news__carroNoticias:hover {
  color: #823a9c; }

.news__carroNoticias__carroTit {
  text-decoration: none;
  color: white; }

@media screen and (max-width: 1024px) {
  .news__carroNoticias {
    font-size: 2vh;
    margin-top: 0; } }

@media screen and (max-width: 768px) {
  .news__carroNoticias {
    font-size: 3.5vh;
    margin-top: 0; } }

@media screen and (max-width: 425px) {
  .news__carroNoticias {
    font-size: 3vh;
    margin-bottom: 1em; } }

@media screen and (max-width: 375px) {
  .news__carroNoticias {
    font-size: 2.5vh;
    margin-bottom: 1em; } }

@media screen and (max-width: 320px) {
  .news__carroNoticias {
    font-size: 2vh;
    margin-top: 0;
    margin-bottom: 1em; } }

.news__carroTex {
  text-decoration: none;
  font-size: 2vh;
  /*Media queries carrusel*/ }
  @media screen and (max-width: 1024px) {
    .news__carroTex {
      font-size: 1.5vh;
      margin-top: 0; } }
  @media screen and (max-width: 768px) {
    .news__carroTex {
      font-size: 3.5vh;
      margin-top: 0; } }
  @media screen and (max-width: 425px) {
    .news__carroTex {
      font-size: 3vh;
      margin-bottom: 1em; } }
  @media screen and (max-width: 375px) {
    .news__carroTex {
      font-size: 2.5vh;
      margin-bottom: 1em; } }
  @media screen and (max-width: 320px) {
    .news__carroTex {
      font-size: 2vh;
      margin-top: 0;
      margin-bottom: 1em; } }

.news__boton {
  justify-items: right;
  color: #823a9c; }
  .news__boton:hover {
    background-color: #823a9c;
    color: white; }

/*Nosotros de index*/
/*Variables*/
.historiaMedio__subtitulo1, .historiaMedio__subtitulo2, .historiaMedio__subtitulo3 {
  color: #c4b071;
  font-size: 3vh;
  margin: 2em; }

.nosotros {
  background: black;
  background-image: url(../assets/fenixbaldoza.jpg);
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 200%;
  background-position: center;
  /* margin-top: 0;
     margin-bottom: 0;*/ }
  .nosotros__titulo {
    background-image: url(https://media.giphy.com/media/jnVtE5ZBQlL7Z0z7iA/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
    /*  margin: 1em 5em 2em 0em;*/
    font-size: 9vh; }
    @media screen and (max-width: 425px) {
      .nosotros__titulo {
        font-size: 6vh; } }
  .nosotros__texto {
    font-size: 3vh; }
    @media screen and (max-width: 425px) {
      .nosotros__texto {
        font-size: 1.5vh; } }

/*Footer de index*/
/*Variables*/
.historiaMedio__subtitulo1, .historiaMedio__subtitulo2, .historiaMedio__subtitulo3 {
  color: #c4b071;
  font-size: 3vh;
  margin: 2em; }

.footer__copyright {
  margin: 0; }

/*Sección plantel*/
/*Variables*/
.historiaMedio__subtitulo1, .historiaMedio__subtitulo2, .historiaMedio__subtitulo3 {
  color: #c4b071;
  font-size: 3vh;
  margin: 2em; }

.plant {
  background: white; }
  .plant__divider-cc {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0px;
    background: linear-gradient(to right bottom, #823a9c 49%, #fff 50%), linear-gradient(-50deg, #ffffff 16px, #000 0); }
  .plant__fondo1 {
    background-color: white; }
  .plant__titulo {
    color: #7431dd;
    background: linear-gradient(to right, #b531dd 20%, #ffffff 40%, #c4b071 60%, #b531dd 80%);
    background-size: 200% auto;
    text-decoration: bold;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
    font-size: 10vh;
    text-align: center; }

@keyframes shine {
  to {
    background-position: 200% center; } }
  .plant__fotoPlantel {
    border-radius: 1px;
    /*object-fit: cover;
    max-width: 100%;
    height: 50%;
    flex-shrink: 10;
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;*/ }
  .plant__foto {
    /*padding: 5vh;*/
    border-radius: 50px;
    /*padding: 3em 0em;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%; }
  .plant__divider--c {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0px;
    background: linear-gradient(to left bottom, #fff 49%, #823a9c 50%); }
  .plant__fondo2 {
    background-color: #823a9c; }
  .plant__subtitulo {
    color: #7431dd;
    background: linear-gradient(to right, #b531dd 20%, #ffffff 40%, #c4b071 60%, #b531dd 80%);
    background-size: 200% auto;
    text-decoration: bold;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
    font-size: 10vh;
    text-align: center; }

@keyframes shine {
  to {
    background-position: 200% center; } }
  .plant .img-hover-zoom {
    height: 300px;
    overflow: hidden; }
  .plant .img-hover-zoom img {
    transition: transform 0.5s ease; }
  .plant .img-hover-zoom:hover img {
    transform: scale(1.2); }
  .plant__subtitulo {
    color: #c4b071;
    font-size: 2em;
    text-decoration: none;
    text-align: justify;
    /*grid-column: 1 / span 1;
    grid-row: 3 / span 1;*/ }

/*Sección partidos en vivo*/
/*Variables*/
.historiaMedio__subtitulo1, .historiaMedio__subtitulo2, .historiaMedio__subtitulo3 {
  color: #c4b071;
  font-size: 3vh;
  margin: 2em; }

.partVivo {
  background-image: url(../assets/fenixconcreto.jpg);
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: bottom;
  /*display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    */
  height: auto;
  /*
    padding-top: 15em;*/ }
  .partVivo .kenburns-top {
    -webkit-animation: kenburns-top 5s ease-out both;
    animation: kenburns-top 5s ease-out both; }

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }
  .partVivo__titulo {
    color: #7431dd;
    background: linear-gradient(to right, #b531dd 20%, #ffffff 40%, #c4b071 60%, #b531dd 80%);
    background-size: 200% auto;
    text-decoration: bold;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
    font-size: 10vh;
    text-align: center;
    /*grid-area: h2;
    margin-bottom: 1em;
    margin-left: 1em;
    column-gap: 1em;
    text-decoration: none;
    text-align: justify;
  }
  @keyframes color {
    from {
      background-position: 0% 50%;
    }
  
    to {
      background-position: 100% 50%;
    }*/ }
  .partVivo__texto {
    color: white;
    font-size: 4vh;
    height: 1em;
    text-align: center;
    /*padding: 0em;
    margin: 2em;*/ }
  .partVivo__paginaVivo {
    /*grid-area: iframe;*/
    padding: 1em;
    width: 100%;
    height: 50rem;
    border-radius: 5px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    /*margin-top: 5em;
    padding-left: 3em;
    padding-bottom: 10em;*/ }

/*Sección historia*/
/*Variables*/
.historiaMedio__subtitulo1, .historiaMedio__subtitulo2, .historiaMedio__subtitulo3 {
  color: #c4b071;
  font-size: 3vh;
  margin: 2em; }

.historiaMedio {
  background: linear-gradient(90deg, white, #c4b071);
  /*
  width: 100%;
  height: 150vh; 
  padding: 5em 3em 3em 3em;*/
  /*&__cuadroFoto {
    margin: 1em;
  }*/ }
  .historiaMedio__titulo {
    color: #7431dd;
    background: linear-gradient(to right, #b531dd 20%, #ffffff 40%, #c4b071 60%, #b531dd 80%);
    background-size: 200% auto;
    text-decoration: bold;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
    font-size: 10vh;
    text-align: center;
    margin: 3em 0em; }
  .historiaMedio__fondo {
    background: #8a4697;
    /*background-size: 100%;*/
    border-radius: 5%; }
  .historiaMedio__foto {
    width: inherit; }

/*Sección contacto*/
/*Variables*/
.historiaMedio__subtitulo1, .historiaMedio__subtitulo2, .historiaMedio__subtitulo3 {
  color: #c4b071;
  font-size: 3vh;
  margin: 2em; }

.contacto {
  background-image: url(../assets/festejo.png);
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: top;
  /*
&.contacto {
   grid-area: header;
   margin-top: 10em;
   margin-left: 2em;
   margin-right: 2em;
 }
 */ }
  .contacto .kenburns-bottom {
    -webkit-animation: kenburns-bottom 5s ease-in-out both;
    animation: kenburns-bottom 5s ease-in-out both; }

@-webkit-keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%; }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
    transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom; } }

@keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 84%;
    transform-origin: 50% 84%; }
  100% {
    -webkit-transform: scale(1.25) translateY(15px);
    transform: scale(1.25) translateY(15px);
    -webkit-transform-origin: bottom;
    transform-origin: bottom; } }
  .contacto__titulo {
    color: #7431dd;
    background: linear-gradient(to right, #b531dd 20%, #ffffff 40%, #c4b071 60%, #b531dd 80%);
    background-size: 200% auto;
    text-decoration: bold;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
    font-size: 10vh;
    text-align: center; }

@keyframes shine {
  to {
    background-position: 200% center; } }
  .contacto__legend {
    color: #9f21b8;
    font-size: 2.5em;
    text-decoration: none; }
  .contacto__formul {
    color: #c367e7;
    font-size: initial;
    text-decoration: none;
    margin: 1em;
    font-size: 1.5em;
    height: 1em; }

/*Media queries de toda la página*/
/*Variables*/
/*Variables*/
.historiaMedio__subtitulo1, .historiaMedio__subtitulo2, .historiaMedio__subtitulo3 {
  color: #c4b071;
  font-size: 3vh;
  margin: 2em; }
