@import "./variables";
@import "./responsive-mixins";

.cabeza {
  width: 100%;
  height: 45vw;
  margin: 0;
  background-image: url(../../assets/festejo3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  animation-name: background;
  animation-delay: 3s;
  animation-duration: 15s;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.81, 0.01, 0.26, 0.99);
  animation-iteration-count: infinite;

  @include laptop1024 {
    height: 60vw;
    background-size: 125%;
  }

  @include tablet {
    height: 80vw;
    background-size: 165%;
  }

  @include movilL {
    height: 100vw;
    background-size: 205%;
  }

  @include movilM {
    height: 100vw;
    background-size: 210%;
  }

  @include movilS {
    height: 120vw;
    background-size: 245%;
  }

  &__titulo {
    @include tituloCabeza;
    margin-top: 2vh;
    padding: 8vh 0 4vh 0;
  }

  &__subtitulo {
    @extend .cabeza__titulo;
    padding: 4vh 0 4vh 0;
    font-size: 4vw;
  }

  &__boton {
    background-color: map-get($colores-pagina, dorado-fenix);
    color: map-get($colores-pagina, violeta-fenix);
    &:hover {
      background-color: map-get($colores-pagina, violeta-fenix);
      color: map-get($colores-pagina, blanco-fenix);
    }
  }
}

@keyframes background {
  0% {
    background-image: url("../../assets/festejo3.png");
  }
  20% {
    background-image: url("../../assets/amaral.jpeg");
  }
  40% {
    background-image: url("../../assets/amaral.jpeg");
  }
  60% {
    background-image: url("../../assets/pallas3.png");
  }
  80% {
    background-image: url("../../assets/pallas3.png");
  }
  90% {
    background-image: url("../../assets/festejo3.png");
  }
  100% {
    background-image: url("../../assets/festejo3.png");
  }
}
