@import "./variables";
@import "./responsive-mixins";

.historiaMedio {
  background: linear-gradient(90deg, white, rgb(196, 176, 113));

  &__titulo {
    @include titulo-animado;
    margin: 3em 0em;
  }

  &__fondo {
    background: map-get($colores-pagina, violeta-fenix);
    background-size: 100%;
    border-radius: 3%;

    @include laptop1024 {
      border-radius: 2%;
    }

    @include tablet {
      border-radius: 4%;
    }

    @include movilL {
      border-radius: 6%;
    }
  }

  &__subtitulo1 {
    @extend %historia-subtitulos;
  }

  &__subtitulo2 {
    @extend %historia-subtitulos;
  }

  /*&__cuadroFoto {
    margin: 1em;
  }*/

  &__foto {
    width: inherit;
    height: auto;
  }

  &__subtitulo3 {
    @extend %historia-subtitulos;
  }

  &__tituloDatos {
    color: map-get($colores-pagina, violeta-fenix);
    text-align: center;
  }
}
