@import "./variables";
@import "./responsive-mixins";

.plant {
  background: rgb(255, 255, 255);

  &__divider-cc {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0px;
    background: linear-gradient(to right bottom, #823a9c 49%, #fff 50%),
      linear-gradient(-50deg, #ffffff 16px, #000 0);
  }
  &__fondo1 {
    background-color: map-get($colores-pagina, blanco-fenix);
  }
  &__titulo {
    @include titulo-animado;
  }
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

  &__fotoPlantel {
    border-radius: 1px;
    /*object-fit: cover;
    max-width: 100%;
    height: 50%;
    flex-shrink: 10;
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;*/
  }

  &__foto {
    /*padding: 5vh;*/
    border-radius: 50px;
    /*padding: 3em 0em;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  &__divider--c {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0px;
    background: linear-gradient(to left bottom, #fff 49%, #823a9c 50%);
  }
  &__fondo2 {
    background-color: map-get($colores-pagina, violeta-fenix);
  }

  &__subtitulo {
    @include titulo-animado;
  }

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

  .img-hover-zoom {
    height: 300px;
    overflow: hidden;
  }

  .img-hover-zoom img {
    transition: transform 0.5s ease;
  }

  .img-hover-zoom:hover img {
    transform: scale(1.2);
  }

  &__subtitulo {
    color: #c4b071;
    font-size: 2em;
    text-decoration: none;
    text-align: justify;
    /*grid-column: 1 / span 1;
    grid-row: 3 / span 1;*/
  }
}
