@import "./variables";

@media screen and (max-width: 768px) {
    /*
    body,
    .navs__vinculos,
    .cabeza,
    .nosotros__perfiles,
    .nosotros__sant,
    .nosotros__male,
    .partVivo__cabeza,
    .plant,
    .hero {
      display: flex;
      flex-direction: column;
    }
  
    body {
      align-items: stretch;
    }
  
    nav ul li a {
      background-position: top center;
      margin: 10px;
      font-size: 0.9em;
      align-items: center;
    }
    .navs__ancla {
      padding: 8px 35px;
    }
  
    .checkbtn {
      display: block;
    }
    
    header.cabeza {
      width: 103%;
      height: 92vh;
      align-items: center;
      margin-top: 6em;
      flex-wrap: nowrap;
      background-position: center;
      background-size: cover;
    }
  
    .cabeza__titulo {
      font-size: 3.5em;
    }
    .cabeza__subtitulo {
      margin: 17px;
      font-size: 1.5em;
    }
  
    .medio {
      width: 103%;
    }
    .medio__titulo {
      font-size: 1.14em;
      margin-bottom: 5em;
      width: 100%;
      padding-right: 1em;
      margin-left: -1em;
    }
    .medio__texto {
      margin-bottom: 3em;
      overflow: auto;
    }
  
    .medio__frame {
      padding: 1em;
      width: 100%;
      height: 43em;
    }
    .checkbtn {
      display: block;
    }
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgb(159, 33, 184);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }
  
    nav ul li {
      display: block;
      margin: 3.5em 0;
      line-height: 0em;
    }
  
    nav ul li a {
      font-size: 20px;
    }
    a:hover,
    a.navs__ancla {
      background: none;
      color: rgb(196, 176, 113);
    }
    #check:checked ~ ul {
      left: 0;
    }
  
    section.nosotros {
      height: 120em;
    }
  
    .nosotros__intro {
      margin-bottom: -50px;
      height: 20em;
    }
    .nosotros__fotoSant,
    .nosotros__fotoMale {
      align-self: center;
    }
    .nosotros__textoSant {
      margin-bottom: -6em;
    }
    .nosotros__textoMale {
      align-content: center;
    }
    footer.pie {
      width: 103%;
      justify-content: center;
    }
  
    .partVivo {
      background-size: 150vh 100vh;
      margin-top: 0.5em;
    }
  
    h2.partVivo__titulo {
      grid-area: h2;
      color: rgb(196, 176, 113);
      font-size: 2em;
    }
  
    p.partVivo__texto {
      grid-area: p;
      color: white;
      font-size: 1em;
      height: 1em;
      padding: 0em;
      margin: 2em;
      text-align: left;
    }
    */
    iframe.partvivo__paginaVivo {
      width: 100%;
      height: 40em;
      padding-right: 2.5em;
    }
  /*
    .plant {
      align-items: center;
      width: 100%;
      padding: 2em 0.5em 0.5em 0.5em;
      height: 210vh;
    }
  */
    .plant__titulo {
      font-size: 9vh;
    }
  /*
    .plant__fotoPlantel {
      margin-bottom: 10em;
      border-radius: 10%;
      object-fit: cover;
      width: 100%;
      height: 2em;
      margin-bottom: 10em;
    }
  
    .plant__foto {
      width: 100%;
      height: 60vh;
      border-radius: 100px;
      padding: 3em 0em;
    }
  
 */   .plant__subtitulo {
      font-size: 6vh;
    }

    .grid-contacto {
      background-image: url(../assets/festejo.png);
      background-clip: padding-box;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 150vh 100vh;
      background-position: center;
    }
    /*
    .contacto__formul {
      margin: 2em;
      font-size: 1.5em;
      height: 1em;
      width: -1em;*/
    }
  
    
  @media screen and (max-width: 425px) {
    .partVivo {
      background-clip: padding-box;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 200%;
      background-position: center;
      }
  
      iframe.partvivo__paginaVivo {
        width: 100%;
        height: 20em;
        padding-right: 2.5em;
      }
      .contacto__subtitulo{
        font-size: 3vh;
      }
      .grid-contacto {
        background-image: url(../assets/festejo.png);
        background-clip: padding-box;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100vh 100vh;
        background-position: center;
      }

      .plant__titulo {
        font-size: 8vh;
      }
    
     .plant__subtitulo {
        font-size: 5vh;
      }
    
  .plant__descripcion{
    margin-top: 3vh;
  }
      
      }
  
    @media screen and (max-width: 375px) { /*
      .medio__frame {
        height: 30em;
      }
      .partVivo {
        background-size: 80vh 100vh;
      }
    
    .plant {
      align-items: center;
      max-width: 100%;
      padding: 2em 0.5em 0.5em 0.5em;
      height: 180vh;
    }
    */

    .plant__titulo {
        font-size: 7vh;
      }
    
     .plant__subtitulo {
        font-size: 4vh;
      }

    .grid-contacto {
      background-image: url(../assets/festejo.png);
      background-clip: padding-box;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 70vh 100vh;
      background-position: center;
    }
   
    .partVivo {
      background-size: 120vh 120vh;
      margin-top: 0.5em;
    }
  }