/*$tituloAnimado:{ color: #7431DD;
background: linear-gradient(to right, #b531dd 20%, #ffffff 40%, #c4b173 60%, #b531dd 80%);
background-size: 200% auto;
text-decoration: bold;
color: #000;
background-clip: text;
text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: shine 5s linear infinite; }*/

$doradoFenix: #c4b071;